body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    background-color:rgb(255,255,255)
}

.navbar{
    padding: 30px;
    width: 100%;
    justify-content: space-between;  
    box-shadow: 0 0.7px 10px rgba(193, 192, 192, 0.35) !important;
    background-color: white !important;
    color: rgb(177, 172, 172) !important;
}

.navbar li{
    list-style: none;
}


.navbar img{
    width: 70px;
    height: 70px;
    margin-right: 200px;
}   


.hero{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;        
}

.hero .hero-info{
    display: flex;
    align-items: center;
    width: 60%;
}

.hero .hero-info .p1{
    width: 80%;
}

.hero .hero-info .p2{
    width: 70%;
}

.coins{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.coins .r1{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.coins .r1in{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.coins .r1 li{
    list-style: none;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center
}   
.coins .r1 li img{
    border-radius:50%;          
}

.coins .r1 li p{
    margin-top: 20px;
}

.coins .more{
    width: 50%;
}

.sub{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub .btn-group{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sub .btn-group li{
    margin: 10px;
}

.sub form .form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer li{
    list-style: none;
    padding: 30px;
}

@media only screen and (max-width: 768px) {
    
    
    .hero .hero-img img{
        width: 400px;
    }

    .sub{
        margin-left: 0px;
    }
    
    .sub form .form-group{
        width:90%;
        margin-left: 0px;
    }
    .hero .hero-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
    }

    .r1in{
        display: flex !important;
        flex-direction: column !important;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
  }
  

@media (min-width: 768px) and (max-width: 991.98px)
{ 
    .hero .hero-img img{
        width: 500px;
    }

    .hero .hero-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
    }

    .coins .r1 li:nth-child(4n+2){
        line-break: after; 
      }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}